.admin-card {
  width: 30vw;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #ddb1f7, #b181e7);
  border-top: 8px solid #ffe4e1; 
  
    mat-form-field {
      width: 100%;

      mat-label {
        color: #2200318f;
      }
    }
  
    button {
      width: 100%;
    }
  
    button#change {
      color: #110025;

      &:hover {
        background-color: #e3caff7c;
      }
    }

    .mat-card-actions {
      display: flex;
      justify-content: center;
    }

    mat-card-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    mat-card-header mat-card-title {
      color: #110025;
      font-weight: 500;
      margin: 0 auto 30px auto;
    }
}
  