<mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-content">
      <div class="footer-links">
        <a href="#header" mat-button>Top</a>
        <a href="#city" mat-button>Cities</a>
      </div>
  
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/kingabreel" target="_blank" mat-icon-button><mat-icon aria-label="linkedin" fontIcon="person_add">linkedin</mat-icon></a>
        <a href="https://github.com/kingabreel/" target="_blank" mat-icon-button><mat-icon fontIcon="code" aria-label="github">github</mat-icon></a>
        <a href="https://github.com/kingabreel/japan-spa" target="_blank" mat-icon-button><mat-icon fontIcon="folder_data" aria-label="project">project</mat-icon></a>
      </div>
  
      <div class="footer-copyright">
        <p>&copy; 2024 gbrel. All Rights Reserved.</p>
      </div>
    </div>
</mat-toolbar>
  