<app-header (popupEvent)="handlePopupEvent($event)"></app-header>

<div class="overlay" *ngIf="showPopup" (click)="closePopup()"></div>

<div class="japanese-slogan">
    <p>
        <span>新</span>
        <span>し</span>
        <span>い</span>
        <span>目</span>
        <span>的</span>
        <span>地</span>
        <span>を</span>
        <span>発</span>
        <span>見</span>
        <span>す</span>
        <span>る</span>
    </p>
</div>

<div appParallax [ratio]="-0.5" class="parallax-background"></div>

<article>
    <h1>Discover Your Next Destinations in Japan</h1>
    <p>Explore the beauty and rich culture of Japan with our exclusive selection of must-visit destinations. From the vibrant neighborhoods of Tokyo to the serene landscapes of Kyoto, uncover the places that will make your trip unforgettable. Get ready for an enriching and surprising journey through the wonders of Japan.    </p>
</article>

<div class="carousel">
    <div class="carousel_items">
        <img src="/places/kyoto.jpg" alt="">
        <img src="/places/okinawa.jpg" alt="">
        <img src="/places/osaka.jpg" alt="">
        <img src="/places/tokyo.png" alt="">
        <img src="/places/yokohama.jpg" alt="">
    </div>
</div>

<app-cities></app-cities>

<div class="popup" *ngIf="showPopup">
    <div class="popup-content">
        <button mat-button (click)="closePopup()">X</button>
        <app-auth-form popup="{{popupType}}"></app-auth-form>
    </div>
</div>