<header>
    <div class="nice-japan_logo">
        <h1><span class="nice">nice</span> <span class="japan">japan</span></h1>
    </div>

    <div class="auth">
        <button mat-button (click)="openPopup('login')" *ngIf="!logged">Login</button>
        <button mat-button (click)="openPopup('register')" *ngIf="!logged">Register</button>
        <button mat-button (click)="openAdminPanel()" *ngIf="logged && admin">Admin panel</button>
        <button mat-button (click)="logout()" *ngIf="logged">Logout</button>
    </div>
</header>