header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
.nice-japan_logo {
    text-transform: uppercase;
    border-radius: 5px;
}

h1 {
    font-size: 26px;
    cursor: pointer;
    user-select: none;
}
h1 > .nice {
    border-bottom: 1px solid #bb56e2;
    border-top: 1px solid #bb56e2;
    color: #bb56e2;
    padding: 3px 0;
    margin: 0 5px;
}

h1 > .japan {
    background-color: #bb56e2;
    border-radius: 3px;
    padding: 3px 5px;
    color: #f3f3f3;
}

div.auth {
    display: flex;
    gap: 50px;
}

div.auth button {
    font-size: 18px;
    color: #bb56e2;
}
div.auth button:hover {
    background-color: #e6b8f8;
}
