.comment-section {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    
    .filter-container {
      margin-bottom: 20px;
      margin-top: 50px;
    }
  
    .comments-list {
      margin-bottom: 20px;
      
      h1 {
        font-size: 18px;
        color: #bb56e2;
      }

      h3 {
        font-size: 32px;
        color: #61108d;
      }

      mat-paginator {
        background-color: #664972;
        font-size: 14px;
      }
    }
  
    .comment-card {
      background: #f9f9f9;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;

      p {
        font-size: 16px;
        color: #5d287a;
      }
      small {
        font-size: 14px;
        color: #5d287a;
      }
    }
  
    .comment-form {

      form {
        display: flex;
        flex-direction: column;
      }

      textarea {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
      }
  
      select {
        width: 100%;
        margin-bottom: 10px;
      }
  
      button {
        background-color: #664972;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        display: flex;
        margin: 0 auto;

        &:disabled {
          background-color: #201624;
        }
      }
    }
  
    p {
      font-size: 14px;
    }
}
