<div class="comment-section">
  <div class="filter-container">
    <mat-form-field>
      <mat-label>City</mat-label>
      <mat-select (selectionChange)="onCitySelected($event.value)">
        <mat-option [value]="''">All Cities</mat-option>
        <mat-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="comments-list">
    <h3>Last comments</h3>
    <mat-card *ngFor="let comment of comments;" class="comment-card">
      <h1>{{ comment.cityName }}</h1>
      <mat-card-content>
        <p>{{ comment.commentText }}</p>
        <small>{{ comment.userName }} - {{ comment.createdAt | date: 'short' }}</small>
      </mat-card-content>
    </mat-card>
    <mat-paginator [length]="totalCommentPage"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <div *ngIf="isLoggedIn; else loginMessage" class="comment-form">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <mat-form-field appearance="fill">
        <mat-label>Add a comment</mat-label>
        <textarea matInput id="comment" formControlName="comment" placeholder="Write your comment..."></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <mat-select id="city-select-form" formControlName="cityId">
          <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid">Send</button>
    </form>
  </div>

  <ng-template #loginMessage>
    <p>You need to login before adding a comment</p>
  </ng-template>

  <ng-template #noComments>
    <p>No comments yet</p>
  </ng-template>
</div>
