<mat-card class="admin-card">
    <mat-card-header>
      <mat-card-title>
        {{ isCityMode ? 'City Management' : 'Tourist Attractions Management' }}
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #adminForm="ngForm">
        
        <div *ngIf="isCityMode">
          <mat-form-field appearance="outline">
            <mat-label>City Name</mat-label>
            <input matInput placeholder="Enter city name" required [(ngModel)]="cityName" name="cityName">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>City Image URL</mat-label>
            <input matInput placeholder="Enter image URL" required [(ngModel)]="cityImgUrl" name="cityImgUrl">
          </mat-form-field>
        </div>
  
        <div *ngIf="!isCityMode">
          <mat-form-field appearance="outline">
            <mat-label>Attraction Name</mat-label>
            <input matInput placeholder="Enter attraction name" required [(ngModel)]="attractionName" name="attractionName">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter attraction description" required [(ngModel)]="attractionDescription" name="attractionDescription"></textarea>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Attraction Image URL</mat-label>
            <input matInput placeholder="Enter image URL" required [(ngModel)]="attractionImgUrl" name="attractionImgUrl">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>City Name</mat-label>
            <input matInput placeholder="Enter city name" required [(ngModel)]="attractionCityName" name="attractionCityName">
          </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary">
          {{ isCityMode ? 'Save City' : 'Save Attraction' }}
        </button>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button (click)="onSwitchMode()" id="change">
        {{ isCityMode ? 'Switch to Tourist Attractions Management' : 'Switch to City Management' }}
      </button>
    </mat-card-actions>
</mat-card>
  